@import "tailwindcss";
@plugin "daisyui";

:root {
  /* Dark theme default */
  --color-primary-bg: #020617;
  --color-secondary-bg: #030820;
  --color-accent-primary: #10B981;
  --color-accent-primary-hover: #34D399;
  --color-primary-text: #E5E7EB;
  --color-secondary-text: #9CA3AF;
  --color-muted-text: #6B7289;
  --color-border-strong: #374151;
  --color-border-subtle: #1F2933;
  --color-error: #EF4444;
  --color-param-text: #34D399;
}

@theme inline {
  --color-primary-bg: var(--color-primary-bg);
  --color-secondary-bg: var(--color-secondary-bg);
  --color-accent-primary: var(--color-accent-primary);
  --color-accent-primary-hover: var(--color-accent-primary-hover);
  --color-primary-text: var(--color-primary-text);
  --color-secondary-text: var(--color-secondary-text);
  --color-muted-text: var(--color-muted-text);
  --color-border-strong: var(--color-border-strong);
  --color-border-subtle: var(--color-border-subtle);
  --color-error: var(--color-error);
  --color-param-text: var(--color-param-text);
  --font-space-mono: var(--font-space-mono);
}

*{
  font-family: var(--font-space-mono);
}

@layer components{
  .btn{
    @apply !text-primary-text !font-bold !bg-accent-primary !text-[14px] !border-0;
  }
  .btn:hover {
    background-color: var(--color-accent-primary-hover) !important;
  }

  .font-inter {
    font-family: var(--font-inter), sans-serif !important;
  }

  .container{
    @apply bg-secondary-bg border-[2px] border-border-strong rounded-[4px] border-dashed p-2;
    transition: all 0.3s ease-in-out;
  }
  .container:hover{
    border-color: var(--color-accent-primary) !important;
    transform: translateY(-1px);
  }
}

